* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
  padding: 0;
}

.container {
  background-color: #000000;
  margin: 0% auto;
  padding-left: 7vw;
  padding-right: 10vw;
  padding-top: 30px;
  width: 80vw;
  height: 90vh;
  align-items: center;
  left: 5vw;
}

.book {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.book.one {
  height: 85vh;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-left: 5vw;
  margin-bottom: 40px;
}

.nonecolor_one {
  height: 85vh;
  bottom: 0;
}

.color_one {
  position: absolute;
  height: 85vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_one:hover {
  box-shadow: 0px 0px 3px 3px #577680;
}

.nonecolor_one:hover ~ .color_one {
  display: block;
}

.book.two {
  height: 73vh;
  margin-left: 0.3vw;
  position: relative;
}

.nonecolor_two {
  position: relative;
  height: 73vh;
  top: 0px;
  left: 0px;
}

.color_two {
  position: absolute;
  height: 73vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_two:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #ff9763;
}

.nonecolor_two:hover ~ .color_two {
  cursor: pointer;
  display: block;
}

.nonecolor:hover ~ .color_two {
  display: block;
  cursor: pointer;
}

.book.three {
  transform-origin: right bottom;
  height: 88vh;
  margin-right: 1vw;
  margin-left: 3.8vw;
  position: relative;
  transform: rotate(35deg);
}

.book.three -webkit-scrollbar {
  display: none;
}

.nonecolor_three {
  position: relative;
  height: 88vh;
  top: 0px;
  left: 0px;
}

.color_three {
  position: absolute;
  height: 88vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_three:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #ffffff;
}

.nonecolor_three:hover ~ .color_three {
  cursor: pointer;
  display: block;
}

.book.four {
  height: 66vh;
  margin-left: 26.6vw;
  position: relative;
}

.nonecolor_four {
  position: relative;
  height: 66vh;
  top: 0px;
  left: 0px;
}

.color_four {
  position: absolute;
  height: 66vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_four:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #bbc1ff;
}

.nonecolor_four:hover ~ .color_four {
  cursor: pointer;
  display: block;
}

.book.five {
  height: 73vh;
  margin-left: 0.7vw;
  position: relative;
}

.nonecolor_five {
  position: relative;
  height: 73vh;
  top: 0px;
  left: 0px;
}

.color_five {
  position: absolute;
  height: 73vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_five:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #ffffff;
}

.nonecolor_five:hover ~ .color_five {
  cursor: pointer;
  display: block;
}

.book.six {
  height: 83vh;
  margin-left: 0.7vw;
  position: relative;
}

.nonecolor_six {
  position: relative;
  height: 83vh;
  top: 0px;
  left: 0px;
}

.color_six {
  position: absolute;
  height: 83vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_six:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #ffffff;
}

.nonecolor_six:hover ~ .color_six {
  cursor: pointer;
  display: block;
}

.book.eight {
  height: 75vh;
  margin-left: 0.7vw;
  position: relative;
}

.nonecolor_eight {
  position: relative;
  height: 75vh;
  top: 0px;
  left: 0px;
}

.color_eight {
  position: absolute;
  height: 75vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_eight:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #EEC7DA;
}

.nonecolor_eight:hover ~ .color_eight {
  cursor: pointer;
  display: block;
}

.book.seven {
  height: 60vh;
  margin-left: 0.7vw;
  position: relative;
}

.nonecolor_seven {
  position: relative;
  height: 60vh;
  top: 0px;
  left: 0px;
}

.color_seven {
  position: absolute;
  height: 60vh;
  display: none;
  z-index: 3;
  bottom: 0;
}

.nonecolor_seven:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 3px #6ed39d;
}

.nonecolor_seven:hover ~ .color_seven {
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .container {
    left: 2vw;
    padding-right: 3vw;
  }
}
/*# sourceMappingURL=style.css.map */